<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>

    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- 데이지 UI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel="stylesheet" type="text/css"/>
    <!-- 폰트어썸 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>

<div class="join join-vertical w-full">
    <div class="collapse collapse-arrow join-item border border-base-300" th:each="board : ${boardList}">

            <input type="radio" name="my-accordion-4" checked="checked"/>
        <div class="collapse-title text-xl font-medium flex">
            <div>번호</div>
            <div>제목</div>
            <div>작성 날짜</div>
        </div>
        <div class="collapse-content">
                <div th:text="${board.id}"></div>
                <div th:text="${board.title}"></div>
                <div th:text="${board.createDate}"></div>
        </div>

    </div>



</div>

</body>
</html>