<html layout:decorate = "~{/common/layout}">
<head>
    <title th:text = "|${board.name} 게시판|"></title>
    <link href = "https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel = "stylesheet" type = "text/css"/>
    <script src = "https://cdn.tailwindcss.com"></script>
</head>
<body class = "mt-40 mb-20">
<div class = "flex-1 flex items-center justify-center" layout:fragment = "content">
    <div class = "container w-full px-4">
        <h1 class = "mb-4">
            <th:block th:utext = "${board.icon}"></th:block>
            <span th:text = "|${board.name} 게시판|"></span>
        </h1>
        <div>
            <div class = "flex   shadow-sm z-10 -mx-4 px-4 py-2 flex-wrap gap-2 items-center">
                <div>
                    <span class = "label-txt">검색된 결과 개수</span>
                    <span th:text = "${articlePage.totalElements}"></span>
                </div>
                <div class = "flex-grow"></div>
                <div class = "flex flex-wrap gap-2">
                    <a class = "btn btn-outline" th:href = "|/usr/article/${board.code}/write|"
                       th:if = "${@rq.login}">
                        <i class = "fa-solid fa-pen"></i>
                        글쓰기
                    </a>
                    <button class = "btn btn-ghost" onclick = "searchFormModal.showModal()">
                        <i class = "fa-solid fa-magnifying-glass"></i>
                        검색어
                        <span th:if = "${UtThy.hasText(param.kw)}">"<span class = "normal-case"
                                                                          th:text = "${param.kw}"></span>"</span>
                    </button>

                    <a class = "btn btn-outline" th:href = "${@rq.currentUrlPath}"
                       th:if = "${UtThy.hasText(param.kw)}">
                        <i class = "fa-solid fa-xmark"></i>
                        검색조건 지우기
                    </a>
                </div>
            </div>

            <dialog class = "modal" id = "searchFormModal">
                <div class = "modal-box">
                    <form method = "dialog">
                        <button class = "btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>

                    <form class = "bg-base rounded flex flex-col gap-6"
                          onsubmit = "submitSearchForm(this); return false;">

                        <div class = "form-control">
                            <label class = "label">
                                <span class = "label-text">검색필터</span>
                            </label>

                            <select class = "select select-bordered" name = "kwType" th:value = "${param.kwType}">
                                <option value = "all">전체</option>
                                <option value = "subject">제목</option>
                                <option value = "body">내용</option>
                                <option value = "nickname">별명</option>
                            </select>
                        </div>

                        <div class = "form-control">
                            <label class = "label">
                                <span class = "label-text">검색어</span>
                            </label>

                            <input class = "input input-bordered ws-full"
                                   name = "kw"
                                   placeholder = "검색어"
                                   th:value = "${param.kw}"
                                   type = "search"
                            >
                        </div>

                        <div>
                            <button class = "btn btn-outline w-full gap-1">
                                <i class = "fa-solid fa-magnifying-glass"></i>
                                <span>검색</span>
                            </button>
                        </div>

                    </form>
                </div>

                <form class = "modal-backdrop" method = "dialog">
                    <button>close</button>
                </form>
            </dialog>

			<ul class = "w-full m-auto mb-8" role = "list" >
				<li class = "flex justify-between bg-slate-50 py-5 border-b border-slate-200 " th:each = "article : ${articlePage.content}">
					<div class = "w-full flex min-w-0 gap-x-4" >
						<div class="w-12 text-center">
							<p class="text-sm font-semibold leading-10 text-gray-900" th:text = "${article.id}"></p>
						</div>
						<img alt = " 프로필 사진"
							 class = "h-12 w-12 flex-none rounded-lg "
							 th:src = "${@memberService.getProfileImgUrl(member)}" >
						<div class = "flex w-[1000px]" >
							<p class = "w-40 pl-2 text-sm font-semibold leading-10 text-gray-900"
							   th:text = "${article.author.nickname}" ></p >
							<div class="w-full">
								<a class = "truncate underline underline-offset-4 text-md pl-2 leading-10 text-gray-500"
								   th:href = "|/usr/article/${board.code}/detail/${article.id}|"
								   th:text = "${article.subject}" ></a >
							</div>
						</div >
					</div >
					<div class = "w-[200px] pl-2" >
						<p class = "text-sm leading-6 text-gray-900"
						   th:text = "${#temporals.format(article.createDate, 'yy.MM.dd')}" ></p >
						<p class = "mt-1 text-xs leading-5 text-gray-500" >좋아요 01</p >
					</div >
				</li >
			</ul >


            <div class = "mt-4"
                 th:if = "${articlePage.totalPages > 1}"
                 th:with = "queryStrBase = '?kwType=' + ${param.kwType != null ? param.kwType : ''} + '&kw=' + ${param.kw != null ? param.kw : ''} + '&'">
                <div th:replace = "common/fragments :: pagination(${articlePage}, ${queryStrBase}, 1)"></div>
            </div>

        </div>
    </div>
</div>
</body>
</html>