<html layout:decorate = "~{/common/layout}">

<head>
    <title> 비밀번호 확인</title>
    <link href = "/mypage_checkPassword.css" rel = "stylesheet" type = "text/css ">

</head>

<body>
<!-- 마이페이지 정보수정 전 비밀번호 확인 -->
<div class="input-login-box" layout:fragment="content">
    <h1>뭐하지 또? 또가지 뭐!</h1>
    <h2>비밀번호 확인</h2>
    <div class="login-top-box">
        <form method="POST" onsubmit="submitCheckPasswordForm(this); return false;" th:action>
            <div class="form-box" method="POST">

                <div class="id-icon-box">
                    <i class="fa-solid fa-key"></i>
                    <input class="id-box" maxlength="30" name="password" type="password" placeholder="비밀번호를 입력해주세요">
                </div>
                <div class="pass-icon-box">
                    <i class="fa-solid fa-key"></i>
                    <input class="pass-box" maxlength="30" name="passwordConfirm" type="password" placeholder="비밀번호를 다시 입력해주세요">
                </div>

                <button class="submit">비밀번호 확인</button>

            </div>
        </form>
    </div>

    <script>
        let submitCheckPasswordFormDone = false;

        function submitCheckPasswordForm(form) {
            if ( submitCheckPasswordFormDone ) return;

            form.password.value = form.password.value.trim();

            if ( form.password.value == 0 ){
                form.password.focus();
                toastWarning("비밀번호를 입력해주세요");
                return;
            }

            if ( form.password.value < 4 ){
                form.password.focus();
                toastWarning("비밀번호를 4자 이상 입력해주세요");
                return;
            }

           form.passwordConfirm.value = form.passwordConfirm.value.trim();

            if ( form.passwordConfirm.value == 0 ){
                form.passwordConfirm.focus();
                toastWarning("비밀번호 확인(을)를 입력해주세요");
                return;
            }

            if ( form.passwordConfirm.value != form.password.value ){
                form.passwordConfirm.focus();
                toastWarning("비밀번호가 일치하지 않습니다.");
                return;
            }

            form.submit();
            submitCheckPasswordFormDone = true;
        }
    </script>

</div>
<!-- 로그인 끝 -->


</body>
</html>