<html layout:decorate = "~{/common/layout}">

<head>
    <title>비밀번호 찾기</title>
    <link href = "/login.css" rel = "stylesheet">
</head>

<body>
<div class = "input-login-box" layout:fragment = "content">
    <a href = "/"><h1>뭐하지 또? 또가지 뭐!</h1></a>
    <div class = "login-top-box">
        <form method = "POST" onsubmit = "submitFindPasswordForm(this); return false;"
              th:action>
            <div class = "form-box">
                <div class = "id-icon-box icon-box">
                    <i class = "name fa-solid fa-envelope"></i>
                    <input autofocus class = "id-box" id = "username" maxlength = "80"
                           name = "username"
                           placeholder = "아이디(을)를 입력해주세요" type = "text">
                </div>
                <div class = "id-icon-box icon-box">
                    <i class = "name fa-solid fa-envelope"></i>
                    <input autofocus class = "id-box" id = "email" maxlength = "80" name = "email"
                           placeholder = "이메일(을)를 입력해주세요" type = "email">
                </div>
                <button class = "submit">비밀번호 찾기</button>
            </div>
        </form>
    </div>
    <div class = "text-box">
        <a class = "id" href = "/usr/member/join" title = "회원가입"><span>회원가입</span></a>
        <a class = "password" href = "/usr/member/login" title = "로그인"><span>로그인</span></a>
        <a class = "join" href = "/usr/member/findUsername" title = "아이디 찾기"><span>아이디 찾기</span></a>
    </div>

    <script>
        let submitFindPasswordFormDone = false;

        function submitFindPasswordForm(form){
            if( submitFindPasswordFormDone ) return ;

            form.username.value = form.username.value.trim();

            if( form.username.value.length == 0){
            form.username.focus();
            toastWarning("아이디(을)를 입력해주세요");
            return;
            }

            if( form.username.value < 4 ){
                form.username.focus();
                toastWarning("아이디(을)를 4자 이상 입력해주세요");
                return;
            }

            form.email.value = form.email.value.trim();

            if( form.email.value.length == 0){
            form.email.focus();
            toastWarning("이메일을 입력해주세요");
            return;
            }

            if( form.email.value < 4 ){
                form.email.focus();
                toastWarning("이메일을 4자 이상 입력해주세요");
                return;
            }

            form.submit();
            submitFindPasswordFormDone = true;
        }
    </script>

</div>
</body>
</html>