<html layout:decorate = "~{/common/layout}">

<head>
    <link href = "/join.css" rel = "stylesheet">
    <!--    <link href = "https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel = "stylesheet" type = "text/css"/>-->
    <!--    <script src = "https://cdn.tailwindcss.com"></script>-->
</head>

<body>
<div class = "container my-3" layout:fragment = "content">
    <!--백업용 로그인 폼(DB 연결, 수정 필요)-->
    <div class = "join-box">
        <a href = "/"><p class = "logo-text">뭐하지 또? 또 가지 뭐!</p></a>
        <h1>회원가입</h1>
        <!-- 회원가입 폼 -->
        <form enctype = "multipart/form-data" method = "POST" name = "join-form"
              onsubmit = "submitJoinForm(this); return false;"
              th:action>
            <div class = "form-box">
                <div class = "join-icon-box">
                    <i class = "id fa-regular fa-user"></i>
                    <input autofocus class = "id-box" id = "username" maxlength = "30" name = "username"
                           onchange = "$(this).keyup();"
                           onkeyup = "checkUsernameDupDebounce();" onpaste = "setTimeoutZero(() => $(this).keyup());"
                           placeholder = "아이디를 입력하세요"
                           type = "text">
                    <div class = "p-text">
                    </div>
                </div>
                <div class = "join-icon-box">
                    <i class = "ps fa-solid fa-key"></i>
                    <input class = "pass-box" id = "password" maxlength = "30" name = "password"
                           placeholder = "비밀번호를 입력하세요"
                           type = "password">
                    <p class = "p-text">영어, 특수문자, 숫자를 모두 포함시켜주세요</p>
                </div>
                <div class = "join-icon-box">
                    <i class = "ps fa-solid fa-key"></i>
                    <input class = "pass-box" id = "passwordCheck" maxlength = "30" name = "passwordCheck"
                           placeholder = "비밀번호를 다시 입력하세요" type = "password">
                    <p class = "p-text">영어, 특수문자, 숫자를 모두 포함시켜주세요</p>
                    <p class = "error-text" id = "passwordMatchError"
                       style = "display : none ; margin-left : 5px ; margin-bottom: 10px ; font-size: 15px ; font-weight: bold; color : #ff0000; ">
                        비밀번호가
                        일치하지
                        않습니다 </p>
                </div>
                <div class = "join-icon-box">
                    <i class = "name fa-solid fa-envelope"></i>
                    <input class = "niname-box" id = "email" maxlength = "30" name = "email"
                           onchange = "$(this).keyup();"
                           onkeyup = "checkEmailDupDebounce();" onpaste = "setTimeoutZero(() => $(this).keyup());"
                           placeholder = "이메일을 입력하세요"
                           type = "email">
                    <div class = "p-text"></div>
                </div>
                <div class = "join-icon-box">
                    <i class = "name fa-regular fa-user"></i>
                    <input class = "name-box" id = "name" name = "name" placeholder = "이름을 입력하세요" type = "text">
                </div>
                <div class = "join-icon-box">
                    <i class = "name fa-regular fa-circle-user"></i>
                    <input class = "niname-box" id = "nickname" name = "nickname" placeholder = "닉네임을 입력하세요"
                           type = "text">
                </div>
                <div class = "join-icon-box preview-image">
                    <div class = "file-box">
                        <input class = "upload-name " disabled = "disabled" value = "파일선택">
                        <label for = "profileImg">업로드</label>
                    </div>
                    <input accept = "image/jpeg, image/png, image/gif" class = "upload-hidden "
                           id = "profileImg"
                           name = "profileImg"
                           type = "file">
                </div>
                <p class = "text">
                    <input class = "agree-box" id = "privacyCheckbox" name = "privacyCheckbox" type = "checkbox"> 개인정보
                                                                                                                  수집에
                                                                                                                  동의합니다.
                </p>
                <button class = "submit">회원가입하기</button>
            </div>
        </form>
    </div>
    <script>
        // username 중복 체크 시작
        const joinForm = document['join-form'];
        // join-form 이라는 이름의 폼을 joinForm 변수에 할당

        function checkUsernameDup(form) { // 사용자 이름 중복 검사 함수
                 form.username.value = form.username.value.trim();
                 // 사용자 이름 필드의 값을 공백제거후 설정

                 if ( form.username.value.length == 0 ) { // 사용자 이름 필드가 공백이면
                    clearUsernameInputMsg(); // 사용자 이름 관련 메시지 클리어
                    return; // 함수 종료
                 }

                 if ( form.username.value.length < 4 ) { // 사용자 이름 필드 길이가 4미만이면
                    `clearUsernameInputMsg`(); // 사용자 이름 관련 메시지 클리어
                    return; // 함수 종료
                 }

                 if(lastCheckedUsername == form.username.value) return;
                // 마지막으로 체크한 사용자이름과 입력한 이름이 같으면 함수 종료

                 lastCheckedUsername = form.username.value;
                 // 마지막으로 체크한 사용자 이름을 현재 값으로 업데이트

                 clearUsernameInputMsg();
                 // 메시지 클리어

                // 서버에 사용자 이름 중복 검사 요청
                 fetch(
                     'checkUsernameDup?username=' + form.username.value
                 )
                     .then(res => res.json()) // 응답을 json 으로 변환
                     .then((rsData) => { // json 처리
                         if ( rsData.success ) { // 성공적으로 처리가 되면
                             validUsername = form.username.value; // validUsername 응답 데이터로 설정
                         }
                         setUsernameInputMsg(rsData.success, rsData.msg); // 사용자 이름 입력 메시지 설정
                     });
             }

            const checkUsernameDupDebounce = _.debounce(() => checkUsernameDup(joinForm), 300);
            // debounce 함수로 중복검사를 5초 지연

             function clearUsernameInputMsg(){ // 사용자 이름 입력 메시지 클리어 함수
                $(joinForm.username).removeClass('input-accent input-error'); // css 클래스 제거
                $(joinForm.username).next().removeClass('text-green-400 text-red-400'); // 다음 요소의 css 클래스 제거
                $(joinForm.username).next().empty(); // 다음 요소의 내용을 비움
             }

             function setUsernameInputMsg(isSuccess, msg){ // 사용자 이름 입력 메시지 설정 함수
                if ( isSuccess ) $(joinForm.username).addClass('input-accent'); // 성공시 css 클래스 추가
                if ( !isSuccess ) $(joinForm.username).addClass('input-error'); // 실패시 다른 css 클래스 추가

                $(joinForm.username).next().addClass(isSuccess ? 'text-green-400' : 'text-red-400');
                // 다음 요소에 클래스 추가

                $(joinForm.username).next().text(msg);
                // 다음 요소에 메시지 표시
             }

        let validUsername = ''; // 유효한 사용자 이름을 저장할 변수
        let lastCheckedUsername = ''; // 마지막으로 확인한 사용자 이름을 저장할 변수
        // username 중복 체크 끝

    // password 2차 체크 시작
   document.addEventListener('DOMContentLoaded', function(){
        const passwordInput = document.getElementById('password');
        const passwordCheckInput = document.getElementById('passwordCheck');
        const passwordMatchError = document.getElementById('passwordMatchError');

        function checkPasswordMatch() {
            if (passwordInput.value === passwordCheckInput.value) {
                passwordMatchError.style.display = 'none';
            } else {
                passwordMatchError.style.display = 'block';
            }
        }

        passwordInput.addEventListener('input', checkPasswordMatch);
        passwordCheckInput.addEventListener('input', checkPasswordMatch);
    });
    // password 2차 체크 끝


    // email 중복 체크 시작
    function checkEmailDup(form){
        form.email.value = form.email.value.trim();
        // 이메일 필드를 공백 제거후 설정

        if(form.email.value.length == 0){
            clearEmailInputMsg();
            return;
        } // 이메일 입력 필드에 길이가 0이면 클리어 함수 적용 후 함수 종료

        if(form.email.value.length < 4){
            clearEmailInputMsg();
            return;
        } // 이메일 입력 필드에 길이가 4 미만인 경우 클리어 함수 적용 후 함수 종료

        if( lastCheckedEmail == form.email.value) return;
        // 마지막으로 체크한 이메일필드와 입력한 이메일 필드가 같으면 함수 종료

        lastCheckedEmail = form.email.value;
        // 마지막으로 체크한 이메일을 현재 값으로 설정

        clearEmailInputMsg();
        // 메시지 클리어

        // 서버에 이메일 중복 검사 요청
        fetch(
            'checkEmailDup?email=' + form.email.value
        )
            .then(res => res.json())
            .then((rsData) => {
                if(rsData.success){
                    validEmail = form.email.value;
                }
                setEmailInputMsg(rsData.success, rsData.msg);
            });
    }

    const checkEmailDupDebounce = _.debounce(() => checkEmailDup(joinForm), 300);
    // debounce 함수를 활용해 이메일 중복 필드 5초 지연

    function clearEmailInputMsg(){ // 이메일 입력 메시지 클리어 함수
        $(joinForm.email).removeClass('input-accent input-error');
        $(joinForm.email).next().removeClass('text-green-400 text-red-400');
        $(joinForm.email).next().empty();
    }

    function setEmailInputMsg(isSuccess, msg){ // 이메일 입력 메시지 설정 함수
        if( isSuccess ) $(joinForm.email).addClass('input-accent');
        if( !isSuccess ) $(joinForm.email).addClass('input-error');

        $(joinForm.email).next().addClass(isSuccess ? 'text-green-400' : 'text-red-400');

        $(joinForm.email).next().text(msg);
    }

    let validEmail = ''; // 유요한 이메일을 저장할 변수
    let lastCheckedEmail = ''; // 마지막으로 확인한 이메일을 저장할 변수
    // email 중복 체크 끝

    // joinForm 유효성 검사 시작
     let submitJoinFormDone = false;
     const regex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$/;


     function submitJoinForm(form) {
         if (submitJoinFormDone) return;

         form.username.value = form.username.value.trim();

         if (form.username.value.length == 0) {
             form.username.focus();
             toastWarning('아이디를 입력하세요');
             return;
         }

         if (form.username.value.length < 5) {
             form.username.focus();
             toastWarning('아이디를 5자 이상 입력하세요');
             return;
         }

         form.password.value = form.password.value.trim();

         if (form.password.value.length == 0) {
             form.password.focus();
             toastWarning('비밀번호를 입력하세요');
             return;
         }

         if (form.password.value.length < 8 || !regex.test(form.password.value)) {
             form.password.focus();
             toastWarning('비밀번호를 최소 8자 이상이며, 영어, 특수문자, 숫자가 최소 1회씩 포함하세요');
             return;
         }


         form.passwordCheck.value = form.passwordCheck.value.trim();
         if (form.passwordCheck.value.length == 0) {
             form.passwordCheck.focus();
             toastWarning('비밀번호를 입력하세요');
             return;
         }

         if(form.password.value != form.passwordCheck.value){
            form.passwordCheck.focus();
            toastWarning('비밀번호가 확인이 일치하지 않습니다');
            return;
         }

         form.email.value = form.email.value.trim();
         if (form.email.value.length == 0) {
             form.email.focus();
             toastWarning('이메일을 입력하세요');
             return;
         }

          if (form.email.value.length < 8) {
             form.email.focus();
             toastWarning('이메일을 8자 이상 입력하세요');
             return;
         }

         form.name.value = form.name.value.trim();
         if (form.name.value.length == 0) {
             form.name.focus();
             toastWarning('이름을 입력하세요');
             return;
         }

         form.nickname.value = form.nickname.value.trim();
         if (form.nickname.value.length === 0) {
             form.nickname.focus();
             toastWarning('닉네임을 입력하세요');
             return;
         }

           if (form.nickname.value.length < 2) {
             form.nickname.focus();
             toastWarning('닉네임을 2자 이상 입력하세요');
             return;ul;
         }

         let privacyCheckbox = document.getElementById("privacyCheckbox");

         if (!privacyCheckbox.checked) {
             toastWarning('개인정보를 체크해주세요');
             return;
         }

         if ( validUsername != form.username.value ) {
             $(form.username).next().focus();
             toastWarning('아이디 중복 체크을(를) 해주세요.');
             return;
        }

         if ( validEmail != form.email.value ) {
               $(form.email).next().focus();
               toastWarning('이메일 중복 체크을(를) 해주세요.');
               return;
         }

         form.submit();
         submitJoinFormDone = true;
     }
    // joinForm 유효성 검사 끝
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const imgInput = document.getElementById('profileImg');
            const fileNameInput = document.querySelector('.upload-name');

            imgInput.addEventListener('change', function(){
                const parent = this.closest('.preview-image');
                const selectedFile =this.files[0];

                const existingDisplay = parent.querySelector('.upload-display');
                if (existingDisplay){
                    parent.removeChild(existingDisplay);
                }

                if (selectedFile){
                    fileNameInput.value = selectedFile.name;
                }

                if (selectedFile && selectedFile.type.match('image.*')){
                    const reader = new FileReader();

                    reader.onload = function(e){
                        const src = e.target.result;
                        const displayDiv = document.createElement('div');
                        displayDiv.className = 'upload-display';

                        const img = document.createElement('img');
                        img.src = src;
                        img.className = 'upload-thumb-wrap';

                        displayDiv.appendChild(img);
                        parent.insertBefore(displayDiv, parent.firstChild);
                    };

                    reader.readAsDataURL(selectedFile);
                }

            })
        })
    </script>

</div>
</body>
</html>