<!DOCTYPE html>
<html layout:decorate = "~{/common/layout}">

<head>
    <link href = "/login.css" rel = "stylesheet">
</head>

<body>

<!-- 로그인 -->
<div class = "input-login-box" layout:fragment = "content">
    <a href = "/"><h1>뭐하지 또? 또가지 뭐!</h1></a>
    <div class = "login-top-box">
        <form method = "POST" onsubmit = "submitLoginForm(this); return false;" th:action>
            <div class = "form-box">
                <div class = "id-icon-box icon-box">
                    <i class = "fa-regular fa-user"></i>
                    <input autofocus class = "id-box" id = "username" maxlength = "30" name = "username"
                           placeholder = "아이디를 입력하세요"
                           th:autofocus = "${UtThy.inputAttributeAutofocus(param.lastUsername)}"
                           th:value = "${UtThy.value(param.lastUsername)}"
                           type = "text">
                </div>
                <div class = "pass-icon-box icon-box">
                    <i class = "fa-solid fa-key"></i>
                    <input class = "pass-box" id = "password" name = "password" placeholder = "비밀번호를 입력해주세요"
                           th:autofocus = "${!UtThy.inputAttributeAutofocus(param.lastUsername)}"
                           type = "password">
                </div>
                <button class = "submit">로그인</button>
                <div class = "line-box">
                    <span class = "line">OR</span>
                </div>
                <div class = kakaoBtn>
                    <a href = "/oauth2/authorization/kakao">
                        <span th:text = "|카카오 로그인|"></span>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class = "text-box">
        <a class = "id" href = "/usr/member/findUsername" title = "아이디 찾기"><span>아이디 찾기</span></a>
        <a class = "password" href = "/usr/member/findPassword" title = "비밀번호 찾기"><span>비밀번호 찾기</span></a>
        <a class = "join" href = "/usr/member/join" title = "회원가입"><span>회원가입</span></a>
    </div>


    <script>
        let submitLoginFormDone = false;
        const regex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$/;

        function submitLoginForm(form){
            if(submitLoginFormDone) return;

            form.username.value = form.username.value.trim();
         if (form.username.value.length == 0) {
             form.username.focus();
             toastWarning('아이디를 입력하세요');
             return;
         }

         if (form.username.value.length < 6) {
             form.username.focus();
             toastWarning('아이디를 6자 이상 입력하세요');
             return;
         }

             form.password.value = form.password.value.trim();
         if (form.password.value.length == 0) {
             form.password.focus();
             toastWarning('비밀번호를 입력하세요');
             return;
         }

        if (form.password.value.length < 8 || !regex.test(form.password.value)) {
             form.password.focus();
             toastWarning('비밀번호를 최소 8자 이상이며, 영어, 특수문자, 숫자가 최소 1회씩 포함하세요');
             return;
         }
             form.submit();
         submitLoginFormDone = true;
        }


    </script>
</div>
<!-- 로그인 끝 -->

</body>
</html>