<html layout:decorate = "~{/common/layout}">

<head>
    <!-- CSS 불러오기 -->
    <link href = "/mypage.css" rel = "stylesheet" type = "text/css ">
    <style>
        .infor-box{
            margin-bottom: 10px ;
            display: flex;
        }

      .join-box  p{
            margin-left: 190px ;
            margin-bottom: 10px ;
        }

        input{
            width: 600px;
        }
    </style>
</head>

<body>

<!-- 마이페이지 -->
<div class = "my-wrap" layout:fragment = "content">
    <div class = "id-section">
        <p class = "logo-text">
            <a href = "/" style = "width: 200px;">뭐하지 또? 또 가지 뭐! </a>
        </p>

        <h1>MY PAGE</h1>

        <!--     이미지    -->
        <div class = "avatar">
            <div class = "img-box">
                <img alt = "프로필 이미지" th:src = "${@rq.profileImgUrl}">
            </div>
        </div>

        <!--   사용자이름  -->
        <h2 th:text = "${@rq.member.nickname}"></h2>

        <!--    메뉴   -->
        <ul>
            <li><a href = "/usr/member/mypage">내 정보</a></li>
            <li><a href = "/usr/member/checkPassword?redirectUrl=/usr/member/modify">정보 수정</a></li>
            <li><a href = "/usr/member/withdrawal">회원 탈퇴</a></li>
        </ul>

    </div>

    <div class = "ch-section">
        <!--   정보수정 폼   -->
        <div class = "join-box">
            <h2 style = "text-align: center; margin-bottom: 50px; font-size: 35px;">내 정보</h2>
            <form id = "userProfileForm">
                <div class = "infor-box ">
                    <!-- 닉네임 -->
                    <label for = "newNickname"
                           style = "padding: 10px 20px; font-size: 20px; font-weight: 500; width: 150px;">아이디</label>
                    <div id = "newNickname"
                         style = " height: 50px; box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08); border: 1px solid #dadada; border-radius: 5px; line-height: 50px ; padding-left: 15px; width: 600px ;"
                         th:text = "${@rq.member.username}"></div>
                </div>

                <!-- 이메일 -->
                <div class = "infor-box">
                    <label style = "padding: 10px 20px; font-size: 20px; font-weight: 500; width: 150px;">이메일</label>
                    <div style = " height: 50px; box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08); border: 1px solid #dadada; border-radius: 5px; line-height: 50px ; padding-left: 15px; width: 600px ;"
                         th:text = "${@rq.member.email}"
                    ></div>
                </div>

                <!-- 가입날짜 -->
                <div class = "infor-box">
                    <label style = "padding: 10px 20px; font-size: 20px; font-weight: 500; width: 150px;">가입일</label>
                    <div style = "height: 50px; box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08); border: 1px solid #dadada; border-radius: 5px; line-height: 50px ; padding-left: 15px; width: 600px ;"
                         th:text = "${#temporals.format(@rq.member.createDate, 'yyyy-MM-dd')}"></div>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>