<html>

<head>
</head>

<body>
<div style = " width: 400px;
    height: 200px;
    border: 2px solid;
    --tw-border-opacity: 1;
    border-color: rgba(96, 165, 250, var(--tw-border-opacity));
    border-radius: 0.5rem;
    border-style: double;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;">
    <h3 th:text = "${siteName}">임시 비밀번호입니다</h3>
    <h1 style = " --tw-bg-opacity: 1;
    background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
    --tw-bg-opacity: 0.4;" th:text = "${tempPassword}"></h1>
    <h5 style = "    color: red;
    text-decoration: underline; margin-top : 20px ;">임시 비밀번호를 받으시고 보안 상의 안전문제로 <br>비밀번호를 바로 변경해주시기 바랍니다.</h5>
</div>
</body>
</html>